/*
//$theme-color: #4fbfa8;
//$white: #fff;
Green shade : #509F71
Orange Shade: #BF9C45
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #222;
}


.btn-primary{
    background-color: #4fbfa8;
    border: 1px solid #4fbfa8;
}

.btn-primary:hover{
    background-color: #37A58F;
    border: 1px solid #37A58F;
}
.box{
    background: #fff;
    margin: 0 0 30px;
    border: solid 1px #e6e6e6;
    padding: 30px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
/*=================*/
/*TOP NAVIGATION*/
/*=================*/

#top {
  background: #555;
  padding: 10px 0;
}

#top .offer {
  color: #fff;
}

#top a {
  color: #fff;
}

#top ul.menu {
  padding-top: 5px;
  margin: 0;
  font-size: 0.738rem;
}

#top ul.menu > li {
  margin-right: 0;
}

#top ul.menu > li a {
  color: #eee;
}

#top ul.menu > li + li:before {
  content: "|\00a0";
  padding: 0 5px;
  color: #f8f9fa;
}

#top ul.menu > .active {
  color: #999;
}

#top #login-modal .modal-header {
  background: #4fbfa8;
}

#top #login-modal .modal-header h5 {
  color: #fff;
}

#top #login-modal a {
  color: #4fbfa8;
}

#top #login-modal p {
  font-weight: 300;
  margin-bottom: 20px;
}

/*=================*/
/*MAIN NAVIGATION*/
/*=================*/

.navbar {
    padding: 0.8rem;
}

nav-link {
    font-size: 1em;
}

.navbar .navbar-nav > .nav-item > .nav-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  padding: 20px 15px !important;
  color: #555;
}

.navbar .navbar-nav > .nav-item > .nav-link.active,
.navbar .navbar-nav > .nav-item > .nav-link:hover,
.navbar .navbar-nav > .nav-item > .nav-link:focus {
    background: #4fbfa8;
    padding: 20px 15px !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: #555;
}

.navbar-brand img{
  height: 50px;
}

/*=================*/
/*CAROUSEL*/
/*=================*/

.carousel-inner img {
    width: 100%;
}

/*to center item*/
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption h1{
    text-shadow: 1px 1px 10px #000;
    font-size: 450%;
}
.carousel-caption h3{
    text-shadow: 1px 1px 10px #000;
    font-size: 180%;
/*    padding-bottom: 1em;*/
}


/*=================*/
/*JUMBOTRON*/
/*=================*/

.jumbotron{
    padding: 1em;
}

.padding{
    padding-bottom: 2em;
}

/*=================*/
/*IDEA*/
/*=================*/

.idea{
    width: 75%;
    margin: 0 auto;
    padding-top: 2em;
}

.idea hr{
    border-top: 2px solid #b4b4b4;
    width: 90%;
    margin: 1em;
}

/*=================*/
/*Three Column Icon*/
/*=================*/

.fa-street-view{
    color: #e54d26;
    font-size: 5em;
    margin: 0.2em;
}
.fa-hands-helping{
    color: #509F71;
    font-size: 5em;
    margin: 0.2em;
}
.fa-city{
    color: #BF9C45;
    font-size: 5em;
    margin: 0.2em;
}

/*=================*/
/*Know More*/
/*=================*/

.more{
    width: 100%;
    margin-bottom: 2em;
}

.gif{
    max-width: 100%;
}

/*=================*/
/*Ribbons*/
/*=================*/

.ribbon {
  position: absolute;
  top: 50px;
  padding-left: 51px;
  z-index: 20;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.ribbon .ribbon-background {
  position: absolute;
  top: 0;
  right: 0;
}

.ribbon .theribbon {
  position: relative;
  width: 140px;
  padding: 6px 20px 6px 20px;
  margin: 30px 10px 10px -71px;
  color: #fff;
  background-color: #4fbfa8;
  text-shadow: 0px 1px 2px #bbb;
}

.ribbon .theribbon:before, .ribbon .theribbon:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

.ribbon .theribbon:after {
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #2d7b6b #2d7b6b transparent transparent;
}

.ribbon.new {
  top: 50px;
}

.ribbon.new .theribbon {
  background-color: #509F71;
  text-shadow: 0px 1px 2px #bbb;
}

.ribbon.new .theribbon:after {
  border-color: #0c525d #0c525d transparent transparent;
}

/*=================*/
/*Footer*/
/*=================*/


footer{
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 0.5em;
}
.footer-logo{
    width: 50%;
    height: 25%
}
footer .social {
  text-align: left;
}

footer .social a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  line-height: 26px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: bottom;
  background-color: #555;
}
footer .social a i {
  vertical-align: bottom;
  line-height: 30px;
}

footer .social a.facebook:hover {
  background-color: #4460ae;
}

footer .social a.gplus:hover {
  background-color: #c21f25;
}

footer .social a.twitter:hover {
  background-color: #3cf;
}

footer .social a.instagram:hover {
  background-color: #cd4378;
}

footer .social a.email:hover {
  background-color: #4a7f45;
}



hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    padding-top: 0.5em;
    margin-bottom: 1em;
}
hr.light-100{
    border-top: 1px solid #d5d5d5;
    padding-top: 0.5em;
    margin-bottom: 1em;
}

/*---Media Queries --*/
@media (max-width: 992px) {
    .social a{
        font-size: 2em;
    }

     #top {
        font-size: 0.738rem;
        text-align: center;
     }

    .navbar .navbar-nav > .nav-item > .nav-link {
        padding: 10px 15px !important;
    }

    .navbar .navbar-nav > .nav-item > .nav-link.active,
    .navbar .navbar-nav > .nav-item > .nav-link:hover,
    .navbar .navbar-nav > .nav-item > .nav-link:focus {
        padding: 10px 15px !important;
    }
}
@media (max-width: 768px) {
    .carousel-caption {
        top: 45%;
    }
    .carousel-caption h1{
        font-size: 200%;
    }
    .carousel-caption h3{
        font-size: 100%;
    }
    .carousel-caption btn{
        font-size: 95%;
        padding: 10px;
    }
    .display-4{
        font-size: 200%;
    }
    .social a{
        font-size: 1.5em;
    }
}
@media (max-width: 576px) {
    .carousel-caption {
        top: 40%;
    }
    .carousel-caption h1{
        font-size: 150%;
    }
    .carousel-caption h3{
        font-size: 60%;
    }
    .carousel-caption btn{
        font-size: 90%;
        padding: 5px;
    }
    .carousel-indicators {
        display: none;
    }
    .display-4{
        font-size: 150%;
    }
    .social a{
        font-size: 1.3em;
    }

}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('../img/slider.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








