@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #333333;
  background-color: #EAF6F6;
}

a, button {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

a {
  color: #226262;
}

.btn-primary {
  color: #fff;
  background-color: #226262;
  border-color: #226262;
}

.btn-primary:hover, .btn-primary:active,
.btn-primary.hover, .btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #2d7776;
  border-color: #296e6d;
}

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(55, 147, 146, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(55, 147, 146, 0.5);
}

.btn-outline-secondary {
  color: #fff !important;
  background-color: #aba8a861 !important;
  border-color: #aba8a861 !important;
}

.btn-outline-secondary:hover, .btn-outline-secondary:active {
  color: #fff;
  background-color: #2d7776;
  border-color: #296e6d;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(55, 147, 146, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(55, 147, 146, 0.5);
}

.breadcrumb-item.active {
  color: #525252 !important;
}

/*=================*/
/*MARGIN-PADDING*/
/*=================*/
.p2 {
  padding: 2em;
}

.pb2 {
  padding-bottom: 2em;
}

/*
*
* ==================
* TOP BAR
* ==================
*
*/
#top {
  background: #555;
  padding: 10px 0;
}

#top .offer {
  color: #fff;
}

#top .offer .btn {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media (max-width: 991.98px) {
  #top {
    font-size: 0.738rem;
    text-align: center;
  }
}
#top a {
  color: #fff;
}

#top ul.menu {
  padding-top: 5px;
  margin: 0;
  font-size: 0.738rem;
}

#top ul.menu > li {
  margin-right: 0;
}

#top ul.menu > li a {
  color: #eee;
}

#top ul.menu > li + li:before {
  content: "| ";
  padding: 0 5px;
  color: #f8f9fa;
}

#top ul.menu > .active {
  color: #999;
}

#top #login-modal .modal-header {
  background: #4fbfa8;
}

#top #login-modal .modal-header h5 {
  color: #fff;
}

#top #login-modal a {
  color: #4fbfa8;
}

#top #login-modal p {
  font-weight: 300;
  margin-bottom: 20px;
}

/*=================*/
/*MAIN NAVIGATION*/
/*=================*/
.navbar {
  padding: 0.8rem;
}

nav-link {
  font-size: 1em;
}

.navbar .navbar-nav > .nav-item > .nav-link {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  padding: 20px 15px !important;
  color: #555;
}

.navbar .navbar-nav > .nav-item > .nav-link.active,
.navbar .navbar-nav > .nav-item > .nav-link:hover,
.navbar .navbar-nav > .nav-item > .nav-link:focus {
  background: #226262;
  padding: 20px 15px !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: #fff;
}

.navbar-brand img {
  height: 50px;
}

/*=================*/
/*CAROUSEL*/
/*=================*/
#slides {
  margin-bottom: 30px;
  border: solid 1px #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.carousel-inner {
  width: 100%;
  max-height: 400px !important;
}

.carousel-inner img {
  width: 100%;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
}

/*to center item*/
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  display: grid;
}

.carousel-caption h1 {
  text-shadow: 1px 1px 10px #000;
  font-size: 450%;
}

.carousel-caption h3 {
  text-shadow: 1px 1px 10px #000;
  font-size: 180%;
  /*    padding-bottom: 1em;*/
}

/*=================*/
/*JUMBOTRON*/
/*=================*/
#info {
  margin-bottom: 30px;
}

.box {
  padding: 1em;
  background: #E3F3F3;
  border: solid 1px #e6e6e6;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.padding {
  padding-bottom: 2em;
}

/*=================*/
/*IDEA*/
/*=================*/
#idea {
  margin-bottom: 30px;
}

.idea {
  width: 75%;
  margin: 0 auto;
  /*    padding-top: 2em;*/
}

.idea hr {
  border-top: 2px solid #b4b4b4;
  width: 90%;
  margin: 1em;
}

/*=================*/
/*Three Column Icon*/
/*=================*/
.fa-street-view {
  color: #e54d26;
  font-size: 5em;
  margin: 0.2em;
}

.fa-hands-helping {
  color: #509F71;
  font-size: 5em;
  margin: 0.2em;
}

.fa-city {
  color: #BF9C45;
  font-size: 5em;
  margin: 0.2em;
}

/*=================*/
/*services*/
/*=================*/
#services-section {
  margin-bottom: 30px;
}

/*=================*/
/*blog*/
/*=================*/
#blog-section {
  margin-bottom: 30px;
}

#blog-section hr {
  border-top: 2px solid #b4b4b4;
  margin: 1em;
}

.light {
  opacity: 80%;
}

/*=================*/
/*Ribbons*/
/*=================*/
.ribbon {
  position: absolute;
  top: 50px;
  padding-left: 51px;
  z-index: 20;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.ribbon .ribbon-background {
  position: absolute;
  top: 0;
  right: 0;
}

.ribbon .theribbon {
  position: relative;
  width: 140px;
  padding: 6px 20px 6px 20px;
  margin: 30px 10px 10px -71px;
  color: #fff;
  background-color: #226262;
  text-shadow: 0px 1px 2px #bbb;
}

.ribbon .theribbon:before, .ribbon .theribbon:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
}

.ribbon .theribbon:after {
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #2d7b6b #2d7b6b transparent transparent;
}

.ribbon.new {
  top: 50px;
}

.ribbon.new .theribbon {
  background-color: #226262;
  text-shadow: 0px 1px 2px #bbb;
}

.ribbon.new .theribbon:after {
  border-color: #0c525d #0c525d transparent transparent;
}

/*=================*/
/*Footer*/
/*=================*/
footer {
  background-color: #525252;
  color: #fff;
  padding-top: 0.5em;
}

.footer-logo {
  width: 50%;
  height: 25%;
}

footer a {
  color: #fff !important;
}

footer a {
  color: #EAF6F6 !important;
}

footer button {
  color: #525252 !important;
  background-color: #b4b4b4 !important;
}

footer button:hover {
  color: #525252 !important;
  background-color: #b4b4b4 !important;
}

footer .social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer .social a {
  color: #fff;
  line-height: 26px;
  font-size: 20px;
  text-align: center;
  vertical-align: bottom;
  background-color: #aba8a861;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer .social a i {
  vertical-align: bottom;
  line-height: 30px;
}

footer .social a.facebook:hover {
  background-color: #4460ae;
}

footer .social a.gplus:hover {
  background-color: #c21f25;
}

footer .social a.twitter:hover {
  background-color: #3cf;
}

footer .social a.instagram:hover {
  background-color: #cd4378;
}

footer .social a.email:hover {
  background-color: #4a7f45;
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  padding-top: 0.5em;
  margin-bottom: 1em;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  padding-top: 0.5em;
  margin-bottom: 1em;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .display-4 {
    font-size: 200%;
  }

  .social a {
    font-size: 1.5em;
  }

  .carousel-caption h3 {
    font-size: 120%;
  }

  .carousel-caption btn {
    font-size: 95%;
    padding: 10px;
  }

  .social a {
    font-size: 2em;
  }

  #top {
    font-size: 0.738rem;
    text-align: center;
  }

  .navbar .navbar-nav > .nav-item > .nav-link {
    padding: 10px 15px !important;
  }

  .navbar .navbar-nav > .nav-item > .nav-link.active,
.navbar .navbar-nav > .nav-item > .nav-link:hover,
.navbar .navbar-nav > .nav-item > .nav-link:focus {
    padding: 10px 15px !important;
  }
}
@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .lead {
    font-size: 1rem;
  }

  .idea {
    width: 100%;
  }

  .idea hr {
    border-top: 2px solid #b4b4b4;
    width: 100%;
    margin: 1em;
  }

  /* table css */
  table,
thead,
tbody,
th,
td,
tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #333;
  }

  td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #777977;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }

  /* Label the data */
  #T1 td:nth-of-type(1):before {
    content: "Donators";
  }

  #T1 td:nth-of-type(2):before {
    content: "$$$$$";
  }

  #T1 td:nth-of-type(3):before {
    content: "Year";
  }

  #T1 td:nth-of-type(4):before {
    content: "Children we fed";
  }

  #T1 td:nth-of-type(5):before {
    content: "Children got Scholarship";
  }

  /* end of table css */
}
@media (max-width: 576px) {
  .desktop-only {
    display: none;
  }

  .lead {
    font-size: 1rem;
  }

  .carousel-caption {
    display: none;
  }

  .carousel-indicators {
    display: none;
  }

  .display-4 {
    font-size: 150%;
  }

  .social a {
    font-size: 1.3em;
  }
}
/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0 !important;
}

#fixed-layer {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixed-layer-image {
  background-image: url("../img/slider.jpg");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*--- Bootstrap Padding Fix --*/
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
/*=================*/
/*Partners*/
/*=================*/
#fixedP {
  background-image: url("../img/partner.jpg");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.fa-building {
  color: #269aad;
  font-size: 5em;
  margin: 0.2em;
}

.fa-briefcase {
  color: #e2ac14;
  font-size: 5em;
  margin: 0.2em;
}

.fa-network-wired {
  color: #238038c9;
  font-size: 5em;
  margin: 0.2em;
}

.fa-icons {
  color: #b32d7dc7;
  font-size: 5em;
  margin: 0.2em;
}

.fa-university {
  color: #56451ed9;
  font-size: 5em;
  margin: 0.2em;
}

.fa-church {
  color: #e54d26;
  font-size: 5em;
  margin: 0.2em;
}

.carousel-wrap {
  margin: 90px auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative !important;
  z-index: 100 !important;
  -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px !important;
}

.owl-prev,
.owl-next {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  width: 1em !important;
  height: 1em !important;
}

.owl-prev {
  left: -2rem !important;
  width: 1em !important;
  height: 1em !important;
}

.owl-next {
  right: -2rem !important;
}

.owl-carousel .owl-nav button.owl-next {
  width: 2em !important;
  height: 2em !important;
}

/*=================*/
/*Dilpreet*/
/*=================*/
#fixed-wrapS {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixedS {
  background-image: url("../img/services.jpg");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.heading {
  position: relative;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fixed-wrapA {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixedA {
  background-image: url("../img/blog.jpg");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

#background_color {
  background-color: lightgrey;
}

.collapsible {
  /*background-color: #777;
      color: white;
      cursor: pointer;
      padding: 18px;
      width: 33%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
  }

      .collapsible:hover {
      background-color: darkgrey;*/
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* ********* */
/* Darsh CSS */
/* ***********/
#donate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
  margin-top: 1em;
}

.thanks {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  margin-top: 1em;
  height: 530px;
  width: 1200px;
}

.card-img {
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.align {
  text-align: center;
}

.card-case {
  margin: 2em;
}

table {
  width: 95%;
  border-collapse: collapse;
  border: 1px solid black;
  box-shadow: 3px 3px 3px grey;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #CAE7E1;
}

tr:nth-of-type(even) {
  background: #84C8BA;
}

td,
th {
  padding: 6px;
  border: 1px solid #333;
  text-align: center;
}

/* ********* */
/* ** Endof **/
/* Darsh CSS */
/* ***********/
/* Fixed image for donate page */
.fixed-wrapd {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fixedd {
  background-image: url("../img/donate.JPG");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*# sourceMappingURL=style.css.map */
